
<!DOCTYPE html>
{% load static %}
<html lang="en">

    <head>
        <meta charset="utf-8" />
        <title>Upgoods - Inscription</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="Upgoods registration" />
        <meta name="keywords" content="upgoods, client-mystere, ams, smice, ams international" />
        <meta name="author" content="MohammedAminezahhaoui" />
        <meta name="email" content="zahhaoui@gmail.com" />
        <meta name="website" content="http://www.up-goods.com" />
        <meta name="Version" content="v1" />
        <!-- favicon -->
        <link rel="shortcut icon" href=" {% static 'images/1.ico' %} ">
        <!-- Bootstrap -->
        <link href=" {% static 'css/bootstrap.min.css' %} " rel="stylesheet" type="text/css" />
        <!-- Icons -->
        <link href=" {% static 'css/materialdesignicons.min.css' %} " rel="stylesheet" type="text/css" />
        <link rel="stylesheet" href="https://unicons.iconscout.com/release/v3.0.3/css/line.css">
        <!-- Main Css -->
        <link href=" {% static 'css/style.css' %} " rel="stylesheet" type="text/css" id="theme-opt" />
        <link href=" {% static 'css/colors/default.css' %} " rel="stylesheet" id="color-opt">
    </head>

    <body>
        <!-- Loader -->
        <!-- <div id="preloader">
            <div id="status">
                <div class="spinner">
                    <div class="double-bounce1"></div>
                    <div class="double-bounce2"></div>
                </div>
            </div>
        </div> -->
        <!-- Loader -->

        <div class="back-to-home rounded d-none d-sm-block">
                            									{% url 'index' as index %}
            <a href=" {{index}} " class="btn btn-icon btn-primary"><i data-feather="home" class="icons"></i></a>
        </div>
        
        <!-- Hero Start -->
        <section class="bg-auth-home bg-circle-gradiant d-table w-100">
            <div class="bg-overlay bg-overlay-white"></div>
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-5 col-md-8">
                        <div class="card shadow rounded border-0 mt-4">
                            <div class="card-body">
                                <h4 class="card-title text-center">Inscription au réseau des bons plans EtudPlan</h4>
                                        <div class="row justify-content-center">

                                <img   src=" {% static 'images/logo-dark.png' %} " height="80" alt="">
                                        </div>
                                <form class="login-form mt-4" method="POST">
    {% csrf_token %}
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label>Prénom<span class="text-danger">*</span></label>
                                                <div class="position-relative">
                                                    <i data-feather="user" class="fea icon-sm icons"></i>
                                                    <div class="form-control pl-5" > <input type="text"/></div>
                                                </div>
                                            </div>
                                        </div><!--end col-->
 <div class="col-md-12">
                                            <div class="form-group">
                                                <label>Nom<span class="text-danger">*</span></label>
                                                <div class="position-relative">
                                                    <i data-feather="user" class="fea icon-sm icons"></i>
                                                    <div class="form-control pl-5" placeholder="Username">{{form.username}}</div>

                                                </div>
                                            </div>
                                        </div><!--end col-->

                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label>Votre adresse mail <span class="text-danger">*</span></label>
                                                <div class="position-relative">
                                                    <i data-feather="mail" class="fea icon-sm icons"></i>
                                                    <div class="form-control pl-5" >{{form.email}}</div>

                                                </div>
                                            </div>
                                        </div><!--end col-->

                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label>Mot de passe <span class="text-danger">*</span></label>
                                                <div class="position-relative">
                                                    <i data-feather="key" class="fea icon-sm icons"></i>
                                                    <div class="form-control pl-5" >{{form.password1}}</div>

                                                </div>
                                            </div>
                                        </div><!--end col-->
    <div class="col-md-12">
                                            <div class="form-group">
                                                <label>Confirmer votre mot de passe <span class="text-danger">*</span></label>
                                                <div class="position-relative">
                                                    <i data-feather="key" class="fea icon-sm icons"></i>
                                                    <div class="form-control pl-5" >{{form.password2}}</div>

                                                </div>
                                            </div>
                                        </div><!--end col-->
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <div class="custom-control custom-checkbox">
                                                    <input type="checkbox" class="custom-control-input" id="customCheck1" required >
                                                    <label class="custom-control-label" for="customCheck1">
                                                    J'accepte les <a href="{% url 'terms' %}" class="text-primary">termes et conditions</a></label>
                                                </div>
                                            </div>
                                        </div><!--end col-->
                                        <div class="form-group">
                                                <span class="text-danger" >{{form.errors}}</span>
                                        </div>
                                        <div class="col-md-12">
                                            <button class="btn btn-primary btn-block">S'inscrire</button>
                                        </div><!--end col-->



                                        <div class="mx-auto">                									{% url 'login' as login %}

                                            <p class="mb-0 mt-3"><small class="text-dark mr-2">Vous avez déjà un compte ? </small> <a href=" {{login}} " class="text-dark font-weight-bold">S'identifier</a></p>
                                        </div>
                                    </div><!--end row-->
                                </form>
                            </div>
                        </div>
                    </div><!--end col-->
                </div><!--end row-->
            </div> <!--end container-->
        </section><!--end section-->
        <!-- Hero End -->
        
        <!-- javascript -->
        <script src=" {% static 'js/jquery-3.5.1.min.js' %} "></script>
        <script src=" {% static 'js/bootstrap.bundle.min.js' %} "></script>
        <!-- Icons -->
        <script src=" {% static 'js/feather.min.js' %} "></script>
        <script src="https://unicons.iconscout.com/release/v3.0.3/script/monochrome/bundle.js"></script>
        <!-- Main Js -->
        <script src=" {% static 'js/app.js' %} "></script>
    </body>
</html>