
<!DOCTYPE html>
{% load static %}

    <html lang="en">

    <head>
        <head>
        <meta charset="utf-8" />
		<title>Upgoods - Settings </title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="Upgoods trouver une mission" />
        <meta name="keywords" content="upgoods, client-mystere, ams, smice, ams international" />
        <meta name="author" content="MohammedAminezahhaoui" />
        <meta name="email" content="zahhaoui@gmail.com" />
        <meta name="website" content="http://www.up-goods.com" />
        <meta name="Version" content="v1" />
        <link rel="shortcut icon" href=" {% static 'images/1.ico' %} ">
        <!-- Bootstrap -->
        <link href=" {% static 'css/bootstrap.min.css' %} " rel="stylesheet" type="text/css" />
        <!-- Icons -->
        <link href=" {% static 'css/materialdesignicons.min.css' %} " rel="stylesheet" type="text/css" />
        <link rel="stylesheet" href="https://unicons.iconscout.com/release/v3.0.3/css/line.css">
        <!-- Slider -->               
        <link rel="stylesheet" href=" {% static 'css/owl.carousel.min.css' %} "/> 
        <link rel="stylesheet" href=" {% static 'css/owl.theme.default.min.css' %} "/> 
        <!-- Main Css -->
        <link href=" {% static 'css/style.css' %} " rel="stylesheet" type="text/css" id="theme-opt" />
        <link href=" {% static 'css/colors/default.css' %} " rel="stylesheet" id="color-opt">

    </head>

    <body>
        <!-- Loader -->
        <!-- <div id="preloader">
            <div id="status">
                <div class="spinner">
                    <div class="double-bounce1"></div>
                    <div class="double-bounce2"></div>
                </div>
            </div>
        </div> -->
        <!-- Loader -->
        
        <!-- Navbar STart -->
             <header id="topnav" class="defaultscroll sticky">
            <div class="container">
                <!-- Logo container-->
                <div>
                    {% url 'indexEnqueteur' as index %}
                    <a class="logo" href=" {{index}} ">
                        <img src=" {% static 'images/logo-dark.png' %} " height="24" alt="">
                    </a>
                </div>
                									{% url 'login' as login %}
                <ul class="buy-button list-inline mb-0">

                <div class="buy-button">
                                                   {% url 'login' as login %}

                        <a href="{{login}}" class="btn btn-primary">Se deconnecter</a>                </div><!--end login button-->
                <!-- End Logo container-->
                    <li class="list-inline-item mb-0">
                        <div class="dropdown dropdown-primary">
                            <button type="button" class="btn btn-icon btn-soft-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="uil uil-user align-middle icons"></i></button>
                            <div class="dropdown-menu dd-menu dropdown-menu-right bg-white shadow rounded border-0 mt-3 py-3" style="width: 200px;">
                                <a class="dropdown-item text-dark" href="{% url 'account_settings'  %}"><i class="uil uil-user align-middle mr-1"></i> Settings</a>
                                <a class="dropdown-item text-dark" href=" {% url 'account_messages'  %}"><i class="uil uil-clipboard-notes align-middle mr-1"></i>  Mes messages</a>
                                <a class="dropdown-item text-dark" href="#"><i class="uil uil-arrow-circle-down align-middle mr-1"></i> Guide</a>
                                <div class="dropdown-divider my-3 border-top"></div>
                                <a class="dropdown-item text-dark" href="{% url 'logout'  %}"><i class="uil uil-sign-out-alt align-middle mr-1"></i> Déconnexion</a>
                            </div>
                        </div>
                    </li>
                </ul><!--end login button-->
                    <div class="menu-extras">
                    <div class="menu-item">
                        <!-- Mobile menu toggle-->
                        <a class="navbar-toggle">
                            <div class="lines">
                                <span></span>
                                <span></span>
                                <span></span>
                            </div>
                        </a>
                        <!-- End mobile menu toggle-->
                    </div>
                </div>

              <div id="navigation">
                    <!-- Navigation Menu-->
                    <ul class="navigation-menu">
                        {% url 'indexEnqueteur' as index %}

                        <li><a href=" {{index}} ">accueil</a></li>
                        {% url 'trouvermission' as service %}
                        <li><a href=" {{service}} ">Trouver une mission</a></li>
                        {% url 'mission' as guide %}

                        <li><a href=" {{guide}} ">Mes missions</a></li>
                        {% url 'account_profile' as actualite %}

                        <li><a href=" {{actualite}} ">Mon profile</a></li>

                    </ul><!--end navigation menu-->
                    <div class="buy-menu-btn d-none">
                                                                                {% url 'login' as login %}

                        <a href="{{login}}"  class="btn btn-primary">Se deconnecter</a>
                    </div><!--end login button-->
                </div><!--end navigation-->
            </div><!--end container-->
        </header><!--end header-->
        <!-- Navbar End -->

        <!-- Navbar End -->
        
        <!-- Hero Start -->
        <section class="bg-profile d-table w-100 bg-primary" style="background: url(' {% static 'images/account/bg.png' %} ') center center;">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="card public-profile border-0 rounded shadow" style="z-index: 1;">
                            <div class="card-body">
                                <div class="row align-items-center">
                                    <div class="col-lg-2 col-md-3 text-md-left text-center">
                                        <img src=" {{enqueteur.profile_pic}}  " class="avatar avatar-large rounded-circle shadow d-block mx-auto" alt="">
                                    </div><!--end col-->
    
                                    <div class="col-lg-10 col-md-9">
                                        <div class="row align-items-end">
                                            <div class="col-md-7 text-md-left text-center mt-4 mt-sm-0">
                                                 <h3 class="title mb-0">{{ enqueteur.nom }}</h3>
                                                <small class="text-muted h6 mr-2">Compte vérifié : {{ enqueteur.status }}</small>
                                                <input type="hidden" class="form-control" name="enqueteur_id" value="{{ enqueteur.id }}" >
                                            </div><!--end col-->

                                        </div><!--end row-->
                                    </div><!--end col-->
                                </div><!--end row-->
                            </div>
                        </div>
                    </div><!--end col-->
                </div><!--end row-->
            </div><!--ed container-->
        </section><!--end section-->
        <!-- Hero End -->

        <!-- Profile Start -->
        <section class="section mt-60">
            <div class="container mt-lg-3">
                <div class="row">
                    <div class="col-lg-4 col-md-6 col-12 d-lg-block d-none">
                        <div class="sidebar sticky-bar p-4 rounded shadow">

                            <div class="widget mt-4 pt-2">
                                <h5 class="widget-title">Espace profil :</h5>
                                <div class="progress-box mt-4">
                                    <h6 class="title text-muted">Score</h6>
                                    <div class="progress">
                                        <div class="progress-bar position-relative bg-primary" style="width:50%;">
                                            <div class="progress-value d-block text-muted h6">5 / 100</div>
                                        </div>
                                    </div>
                                </div><!--end process box-->
                            </div>
                           <div class="widget">
                                <div class="row">
                                    <div class="col-6 mt-4 pt-2">
                                                                {% url 'account_profile' as contact %}

                                        <a href=" {{contact}} " class="accounts rounded d-block shadow text-center py-3">
                                            <span class="pro-icons h3 text-muted"><i class="uil uil-dashboard"></i></span>
                                            <h6 class="title text-dark h6 my-0">Profile</h6>
                                        </a>
                                    </div><!--end col-->


                                                                {% url 'account_works' as contact %}

                                    <div class="col-6 mt-4 pt-2">
                                        <a href=" {{contact}} " class="accounts rounded d-block shadow text-center py-3">
                                            <span class="pro-icons h3 text-muted"><i class="uil uil-file"></i></span>
                                            <h6 class="title text-dark h6 my-0">Missions</h6>
                                        </a>
                                    </div><!--end col-->
                                                                {% url 'account_messages' as contact %}

                                    <div class="col-6 mt-4 pt-2">
                                        <a href=" {{contact}} " class="accounts  rounded d-block shadow text-center py-3">
                                            <span class="pro-icons h3 text-muted"><i class="uil uil-envelope-star"></i></span>
                                            <h6 class="title text-dark h6 my-0">Messages</h6>
                                        </a>
                                    </div><!--end col-->

                                    <div class="col-6 mt-4 pt-2">
                                        {% url 'account_payments' as contact %}
                                        <a href=" {{contact}} " class="accounts rounded d-block shadow text-center py-3">
                                            <span class="pro-icons h3 text-muted"><i class="uil uil-transaction"></i></span>
                                            <h6 class="title text-dark h6 my-0">Rémunération</h6>
                                        </a>
                                    </div><!--end col-->

                                    <div class="col-6 mt-4 pt-2">
                                        {% url 'account_settings' as contact %}
                                        <a href=" {{contact}} " class="accounts active rounded d-block shadow text-center py-3">
                                            <span class="pro-icons h3 text-muted"><i class="uil uil-setting"></i></span>
                                            <h6 class="title text-dark h6 my-0">Settings</h6>
                                        </a>
                                    </div><!--end col-->

                                    <div class="col-6 mt-4 pt-2">
                                        <a href=" {% url 'logout' %} " class="accounts rounded d-block shadow text-center py-3">
                                            <span class="pro-icons h3 text-muted"><i class="uil uil-sign-out-alt"></i></span>
                                            <h6 class="title text-dark h6 my-0">Se deconnecter</h6>
                                        </a>
                                    </div><!--end col-->
                                </div><!--end row-->
                            </div>

                            <div class="widget mt-4 pt-2">
                                <h5 class="widget-title">Follow us :</h5>
                                <ul class="list-unstyled social-icon mb-0 mt-4">
                                    <li class="list-inline-item"><a href="  " class="rounded"><i data-feather="facebook" class="fea icon-sm fea-social"></i></a></li>
                                    <li class="list-inline-item"><a href="  " class="rounded"><i data-feather="instagram" class="fea icon-sm fea-social"></i></a></li>
                                    <li class="list-inline-item"><a href="  " class="rounded"><i data-feather="twitter" class="fea icon-sm fea-social"></i></a></li>
                                    <li class="list-inline-item"><a href="  " class="rounded"><i data-feather="linkedin" class="fea icon-sm fea-social"></i></a></li>
                                    <li class="list-inline-item"><a href="  " class="rounded"><i data-feather="github" class="fea icon-sm fea-social"></i></a></li>
                                    <li class="list-inline-item"><a href="  " class="rounded"><i data-feather="youtube" class="fea icon-sm fea-social"></i></a></li>
                                    <li class="list-inline-item"><a href="  " class="rounded"><i data-feather="gitlab" class="fea icon-sm fea-social"></i></a></li>
                                </ul><!--end icon-->
                            </div>
                        </div>
                    </div><!--end col-->

                    <div class="col-lg-8 col-12">

                        <div class="card border-0 rounded shadow">
                            <div class="card-body">
                                <h5 class="text-md-left text-center">Personal Detail :</h5>

                                <div class="mt-3 text-md-left text-center d-sm-flex">
                                    <img src=" {{enqueteur.profile_pic}}  " class="avatar float-md-left avatar-medium rounded-circle shadow mr-md-4" alt="">

                                    <div class="mt-md-4 mt-3 mt-sm-0">
                                        <a href=" "data-toggle="modal" data-target="#composemail" class="btn btn-primary mt-2" >Change Picture</a>
                                    </div>
                                </div>

                                <div class="modal fade" id="composemail" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered" role="document">
                                                                                           <form role="form" action="/updateprofile" method="post">
 <div class="modal-content rounded shadow border-0">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalCenterTitle">Modifier votre photo de profil</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body p-4">
                                            <form>
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <div class="form-group">
                                                            <div class="position-relative">
                                                                <i data-feather="user" class="fea icon-sm icons"></i>
                                                                <input name="name" id="name" type="file" class="form-control pl-5" placeholder="{{enqueteur.nom}}" readonly>
                                                            </div>
                                                        </div>
                                                    </div><!--end col-->


                                                </div><!--end row-->
                                            </form> </div>
                                        <div class="border-top p-4">
                                            <button type="button" class="btn btn-primary" disabled>Enregistrer</button>
                                        </div>
 </div></form>
                                </div>
                            </div>
                               <!-- -->
                                <form role="form" action="/updateprofile/" method="post">
                                    <div class="row mt-4">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label>Adresse</label>
                                                <div class="position-relative">
                                                    <i data-feather="user" class="fea icon-sm icons"></i>
                                                    <input name="adresse" id="Adresse" type="text" class="form-control pl-5" placeholder="Votre nouvelle adresse :">
                                                </div>
                                            </div>
                                        </div><!--end col-->
                                        <div class="col-md-6">
                                            <div class="col-lg-12">
                                                    <div class="form-group">
                                                        <label>Phone No. :</label>
                                                        <div class="position-relative">
                                                            <i data-feather="phone" class="fea icon-sm icons"></i>
                                                            <input name="telephone" id="number" type="number" class="form-control pl-5" placeholder="Phone :">
                                                        </div>
                                                    </div>
                                                </div><!--end col-->
                                        </div><!--end col-->
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label>Your Email</label>
                                                <div class="position-relative">
                                                    <i data-feather="mail" class="fea icon-sm icons"></i>
                                                    <input name="email" id="email" type="email" class="form-control pl-5" placeholder="Your email :">
                                                </div>
                                            </div> 
                                        </div><!--end col-->


                                    </div><!--end row-->
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <input type="submit" id="submit" name="send" class="btn btn-primary"  disabled value="Save Changes">
                                        </div><!--end col-->
                                    </div><!--end row-->
                                </form><!--end form-->

                                

                                </div>
                        </div>

                        

<div class="rounded shadow mt-4">
                            <div class="p-4 border-bottom">
                                <h5 class="mb-0 text">Changer votre mot de passe :</h5>
                            </div>

                            <div class="p-4">
                                <h6 class="mb-0">Voulez-vous changez le mot de passe de votre compte? Veuillez appuyer sur le bouton "changer" ci-dessous</h6>
                                <h6 class="mb-0">Vous recevrez un message sur votre boite email pour completer la procedure</h6>
 <div class="mt-4">
                         {% url 'reset_password' as reset_password %}

                                    <button class="btn btn-warning" href="{{reset_password}}" disabled >Changer mon mot de passe</button>
                                </div><!--end col-->
                            </div>
                        </div>

                        <div class="rounded shadow mt-4">
                            <div class="p-4 border-bottom">
                                <h5 class="mb-0 text-danger">Delete Account :</h5>
                            </div>

                            <div class="p-4">
                                <h6 class="mb-0">Voulez-vous supprimer le compte? Veuillez appuyer sur le bouton "Supprimer" ci-dessous</h6>
                                <div class="mt-4">
                                    <button class="btn btn-danger" disabled>Supprimer mon compte</button>
                                </div><!--end col-->
                            </div>
                        </div>
                                                        </div><!--end col-->
                </div><!--end row-->
            </div><!--end container-->
        </section><!--end section-->
        <!-- Profile Setting End -->

        <!-- Footer Start -->
                    {% include 'footer.html' %}

        <!-- Back to top -->
        <a href="#" class="btn btn-icon btn-primary back-to-top"><i data-feather="arrow-up" class="icons"></i></a>
        <!-- Back to top -->

        <!-- javascript -->
        <script src=" {% static 'js/jquery-3.5.1.min.js' %} "></script>
        <script src=" {% static 'js/bootstrap.bundle.min.js' %} "></script>
        <script src=" {% static 'js/jquery.easing.min.js' %} "></script>
        <script src=" {% static 'js/scrollspy.min.js' %} "></script>
        <!-- SLIDER -->
        <script src=" {% static 'js/owl.carousel.min.js ' %} "></script>
        <script src=" {% static 'js/owl.init.js ' %} "></script>
        <!-- Icons -->
        <script src=" {% static 'js/feather.min.js' %} "></script>
        <script src="https://unicons.iconscout.com/release/v3.0.3/script/monochrome/bundle.js"></script>
        <!-- Main Js -->
        <script src=" {% static 'js/app.js' %} "></script>
    </body>
</html>