
<!DOCTYPE html>
{% load static %}

    <html lang="en">

    <head>
           <meta charset="utf-8" />
		<title>Upgoods - Profile </title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="Upgoods trouver une mission" />
        <meta name="keywords" content="upgoods, client-mystere, ams, smice, ams international" />
        <meta name="author" content="MohammedAminezahhaoui" />
        <meta name="email" content="zahhaoui@gmail.com" />
        <meta name="website" content="http://www.up-goods.com" />
        <meta name="Version" content="v1" />
        <!-- favicon -->
        <link rel="shortcut icon" href=" {% static 'images/1    .ico' %} ">
        <!-- Bootstrap -->
        <link href=" {% static 'css/bootstrap.min.css' %} " rel="stylesheet" type="text/css" />
        <!-- Icons -->
        <link href=" {% static 'css/materialdesignicons.min.css' %} " rel="stylesheet" type="text/css" />
        <link rel="stylesheet" href="https://unicons.iconscout.com/release/v3.0.3/css/line.css">
        <!-- Slider -->               
        <link rel="stylesheet" href=" {% static 'css/owl.carousel.min.css' %} "/> 
        <link rel="stylesheet" href=" {% static 'css/owl.theme.default.min.css' %} "/> 
        <!-- Main Css -->
        <link href=" {% static 'css/style.css' %} " rel="stylesheet" type="text/css" id="theme-opt" />
        <link href=" {% static 'css/colors/default.css' %} " rel="stylesheet" id="color-opt">

    </head>

    <body>
        <!-- Loader -->
        <!-- <div id="preloader">
            <div id="status">
                <div class="spinner">
                    <div class="double-bounce1"></div>
                    <div class="double-bounce2"></div>
                </div>
            </div>
        </div> -->
        <!-- Loader -->
        
        <!-- Navbar STart -->
         <header id="topnav" class="defaultscroll sticky">
            <div class="container">
                <!-- Logo container-->
                <div>
                    {% url 'indexEnqueteur' as index %}
                    <a class="logo" href=" {{index}} ">
                        <img src=" {% static 'images/logo-dark.png' %} " height="24" alt="">
                    </a>
                </div>
                									{% url 'login' as login %}
                <ul class="buy-button list-inline mb-0">

                <div class="buy-button">
                                                   {% url 'login' as login %}

                        <a href="{{login}}"  class="btn btn-primary">Se deconnecter</a>                </div><!--end login button-->
                <!-- End Logo container-->
                    <li class="list-inline-item mb-0">
                        <div class="dropdown dropdown-primary">
                            <button type="button" class="btn btn-icon btn-soft-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="uil uil-user align-middle icons"></i></button>
                            <div class="dropdown-menu dd-menu dropdown-menu-right bg-white shadow rounded border-0 mt-3 py-3" style="width: 200px;">
                                <a class="dropdown-item text-dark" href="#"><i class="uil uil-user align-middle mr-1"></i> Mon compte</a>
                                <a class="dropdown-item text-dark" href="#"><i class="uil uil-clipboard-notes align-middle mr-1"></i> Order History</a>
                                <a class="dropdown-item text-dark" href="#"><i class="uil uil-arrow-circle-down align-middle mr-1"></i> Download</a>
                                <div class="dropdown-divider my-3 border-top"></div>
                                <a class="dropdown-item text-dark" href="#"><i class="uil uil-sign-out-alt align-middle mr-1"></i> Logout</a>
                            </div>
                        </div>
                    </li>
                </ul><!--end login button-->
                    <div class="menu-extras">
                    <div class="menu-item">
                        <!-- Mobile menu toggle-->
                        <a class="navbar-toggle">
                            <div class="lines">
                                <span></span>
                                <span></span>
                                <span></span>
                            </div>
                        </a>
                        <!-- End mobile menu toggle-->
                    </div>
                </div>
           <div id="navigation">
                    <!-- Navigation Menu-->
                    <ul class="navigation-menu">
                        {% url 'indexEnqueteur' as index %}

                        <li><a href=" {{index}} ">accueil</a></li>
                        {% url 'trouvermission' as service %}
                        <li><a href=" {{service}} ">Trouver une mission</a></li>
                        {% url 'mission' as guide %}

                        <li><a href=" {{guide}} ">Mes missions</a></li>
                        {% url 'account_profile' as actualite %}

                        <li><a href=" {{actualite}} ">Mon profile</a></li>




                    </ul><!--end navigation menu-->
                    <div class="buy-menu-btn d-none">
                                                                                {% url 'login' as login %}

                        <a href="{{login}}"  class="btn btn-primary">Se deconnecter</a>
                    </div><!--end login button-->
                </div><!--end navigation-->
            </div><!--end container-->
        </header><!--end header-->
        <!-- Navbar End -->
        
        <!-- Hero Start -->
        <section class="bg-profile d-table w-100 bg-primary" style="background: url(' {% static 'images/account/bg.png' %} ') center center;">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="card public-profile border-0 rounded shadow" style="z-index: 1;">
                            <div class="card-body">
                                <div class="row align-items-center">
                                    <div class="col-lg-2 col-md-3 text-md-left text-center">
                                        <img src=" {% static 'images/client/05.jpg' %} " class="avatar avatar-large rounded-circle shadow d-block mx-auto" alt="">
                                    </div><!--end col-->
    
                                    <div class="col-lg-10 col-md-9">
                                        <div class="row align-items-end">
                                            <div class="col-md-7 text-md-left text-center mt-4 mt-sm-0">
                                                <h3 class="title mb-0">{{ enqueteur.nom }}</h3>
                                                <small class="text-muted h6 mr-2">Compte vérifié : {{ enqueteur.status }}</small>

                                            </div><!--end col-->

                                        </div><!--end row-->
                                    </div><!--end col-->
                                </div><!--end row-->
                            </div>
                        </div>
                    </div><!--end col-->
                </div><!--end row-->
            </div><!--ed container-->
        </section><!--end section-->
        <!-- Hero End -->

        <!-- Profile Start -->
        <section class="section mt-60">
            <div class="container mt-lg-3">
                <div class="row">
                    <div class="col-lg-4 col-md-6 col-12 d-lg-block d-none">
                        <div class="sidebar sticky-bar p-4 rounded shadow">


                            <div class="widget mt-4 pt-2">
                                <h5 class="widget-title">Missions :</h5>
                                <div class="progress-box mt-4">
                                    <h6 class="title text-muted">Score</h6>
                                    <div class="progress">
                                        <div class="progress-bar position-relative bg-primary" style="width:50%;">
                                            <div class="progress-value d-block text-muted h6">5 / 100</div>
                                        </div>
                                    </div>
                                </div><!--end process box-->
                            </div>
                            
                            <div class="widget">
                                <div class="row">
                                    <div class="col-6 mt-4 pt-2">
                                                                {% url 'account_profile' as contact %}

                                        <a href=" {{contact}} " class="accounts active rounded d-block shadow text-center py-3">
                                            <span class="pro-icons h3 text-muted"><i class="uil uil-dashboard"></i></span>
                                            <h6 class="title text-dark h6 my-0">Profile</h6>
                                        </a>
                                    </div><!--end col-->


                                                                {% url 'account_works' as contact %}

                                    <div class="col-6 mt-4 pt-2">
                                        <a href=" {{contact}} " class="accounts rounded d-block shadow text-center py-3">
                                            <span class="pro-icons h3 text-muted"><i class="uil uil-file"></i></span>
                                            <h6 class="title text-dark h6 my-0">Missions</h6>
                                        </a>
                                    </div><!--end col-->
                                                                {% url 'account_messages' as contact %}

                                    <div class="col-6 mt-4 pt-2">
                                        <a href=" {{contact}} " class="accounts  rounded d-block shadow text-center py-3">
                                            <span class="pro-icons h3 text-muted"><i class="uil uil-envelope-star"></i></span>
                                            <h6 class="title text-dark h6 my-0">Messages</h6>
                                        </a>
                                    </div><!--end col-->

                                    <div class="col-6 mt-4 pt-2">
                                        {% url 'account_payments' as contact %}
                                        <a href=" {{contact}} " class="accounts rounded d-block shadow text-center py-3">
                                            <span class="pro-icons h3 text-muted"><i class="uil uil-transaction"></i></span>
                                            <h6 class="title text-dark h6 my-0">rémunération</h6>
                                        </a>
                                    </div><!--end col-->

                                    <div class="col-6 mt-4 pt-2">
                                        {% url 'account_settings' as contact %}
                                        <a href=" {{contact}} " class="accounts rounded d-block shadow text-center py-3">
                                            <span class="pro-icons h3 text-muted"><i class="uil uil-setting"></i></span>
                                            <h6 class="title text-dark h6 my-0">Settings</h6>
                                        </a>
                                    </div><!--end col-->

                                    <div class="col-6 mt-4 pt-2">
                                        {% url 'logout' as logout %}
                                        <a href=" {{logout}} " class="accounts rounded d-block shadow text-center py-3">
                                            <span class="pro-icons h3 text-muted"><i class="uil uil-sign-out-alt"></i></span>
                                            <h6 class="title text-dark h6 my-0">Logout</h6>
                                        </a>
                                    </div><!--end col-->
                                </div><!--end row-->
                            </div>


                            <div class="widget mt-4 pt-2">
                                <h5 class="widget-title">Follow me :</h5>
                                <ul class="list-unstyled social-icon mb-0 mt-4">
                                    <li class="list-inline-item"><a href="  " class="rounded"><i data-feather="facebook" class="fea icon-sm fea-social"></i></a></li>
                                    <li class="list-inline-item"><a href="  " class="rounded"><i data-feather="instagram" class="fea icon-sm fea-social"></i></a></li>
                                    <li class="list-inline-item"><a href="  " class="rounded"><i data-feather="twitter" class="fea icon-sm fea-social"></i></a></li>
                                    <li class="list-inline-item"><a href="  " class="rounded"><i data-feather="linkedin" class="fea icon-sm fea-social"></i></a></li>
                                    <li class="list-inline-item"><a href="  " class="rounded"><i data-feather="github" class="fea icon-sm fea-social"></i></a></li>
                                    <li class="list-inline-item"><a href="  " class="rounded"><i data-feather="youtube" class="fea icon-sm fea-social"></i></a></li>
                                    <li class="list-inline-item"><a href="  " class="rounded"><i data-feather="gitlab" class="fea icon-sm fea-social"></i></a></li>
                                </ul><!--end icon-->
                            </div>
                        </div>
                    </div><!--end col-->

                    <div class="col-lg-8 col-12">

                        
                        <div class="border-bottom pb-4">
                            <div class="row">
                                <div class="col-md-6 mt-4">
                                    <h5>Personal Details :</h5>
                                    <div class="mt-4">
                                        <div class="media align-items-center">
                                            <i data-feather="mail" class="fea icon-ex-md text-muted mr-3"></i>
                                            <div class="media-body">
                                                <h6 class="text-primary mb-0">Email :</h6>
                                                <a class="text-muted">{{enqueteur.email}}</a>
                                            </div>
                                        </div>

                                        <div class="media align-items-center mt-3">
                                            <i data-feather="italic" class="fea icon-ex-md text-muted mr-3"></i>
                                            <div class="media-body">
                                                <h6 class="text-primary mb-0">Language :</h6>
                                                <a  class="text-muted">{{enqueteur.langues}}</a>
                                            </div>
                                        </div>

                                        <div class="media align-items-center mt-3">
                                            <i data-feather="gift" class="fea icon-ex-md text-muted mr-3"></i>
                                            <div class="media-body">
                                                <h6 class="text-primary mb-0">Birthday :</h6>
                                                <p class="text-muted mb-0">{{enqueteur.birth_day}}</p>
                                            </div>
                                        </div>
                                        <div class="media align-items-center mt-3">
                                            <i data-feather="map-pin" class="fea icon-ex-md text-muted mr-3"></i>
                                            <div class="media-body">
                                                <h6 class="text-primary mb-0">Location :</h6>
                                                <a class="text-muted">{{enqueteur.adresse}}</a>
                                            </div>
                                        </div>
                                        <div class="media align-items-center mt-3">
                                            <i data-feather="phone" class="fea icon-ex-md text-muted mr-3"></i>
                                            <div class="media-body">
                                                <h6 class="text-primary mb-0">Cell No :</h6>
                                                <a class="text-muted">{{enqueteur.telephone}}</a>
                                            </div>
                                        </div>
                                    </div>
                                </div><!--end col-->

                                <div class="col-md-6 mt-4 pt-2 pt-sm-0">
                                    <h5>Missions effectuées :</h5>

                                    <div class="media key-feature align-items-center p-3 rounded shadow mt-4">
                                        <img src=" {% static 'images/job/Circleci.svg' %} " class="avatar avatar-ex-sm" alt="">
                                        <div class="media-body content ml-3">
                                            <h4 class="title mb-0">Senior Web Developer</h4>
                                            <p class="text-muted mb-0">3 Years Experience</p>
                                            <p class="text-muted mb-0"><a href=" {% static 'javascript:void(0)' %} " class="text-primary">CircleCi</a> @London, UK</p>    
                                        </div>
                                    </div>

                                    <div class="media key-feature align-items-center p-3 rounded shadow mt-4">
                                        <img src=" {% static 'images/job/Codepen.svg' %} " class="avatar avatar-ex-sm" alt="">
                                        <div class="media-body content ml-3">
                                            <h4 class="title mb-0">Web Designer</h4>
                                            <p class="text-muted mb-0">2 Years Experience</p>
                                            <p class="text-muted mb-0"><a href=" {% static 'javascript:void(0)' %} " class="text-primary">Codepen</a> @Washington D.C, USA</p>    
                                        </div>
                                    </div>

                                    <div class="media key-feature align-items-center p-3 rounded shadow mt-4">
                                        <img src=" {% static 'images/job/Gitlab.svg' %} " class="avatar avatar-ex-sm" alt="">
                                        <div class="media-body content ml-3">
                                            <h4 class="title mb-0">UI Designer</h4>
                                            <p class="text-muted mb-0">2 Years Experience</p>
                                            <p class="text-muted mb-0"><a href=" {% static 'javascript:void(0)' %} " class="text-primary">Gitlab</a> @Perth, Australia</p>    
                                        </div>
                                    </div>
                                </div><!--end col-->
                            </div><!--end row-->
                        </div>

                        <h5 class="mt-4 mb-0">Annonces & News :</h5>
                        <div class="row">
                            <div class="col-md-6 mt-4 pt-2">
                                <div class="card blog rounded border-0 shadow">
                                    <div class="position-relative">
                                        <img src=" {% static 'images/blog/01.jpg' %} " class="card-img-top rounded-top" alt="...">
                                    <div class="overlay rounded-top bg-dark"></div>
                                    </div>
                                    <div class="card-body content">
                                        <h5><a href="  " class="card-title title text-dark">Design your apps in your own way</a></h5>
                                        <div class="post-meta d-flex justify-content-between mt-3">
                                            <ul class="list-unstyled mb-0">
                                                <li class="list-inline-item mr-2 mb-0"><a href="  " class="text-muted like"><i class="mdi mdi-heart-outline mr-1"></i>33</a></li>
                                                <li class="list-inline-item"><a href="
                                            </ul>
                                            <a href="  " class="text-muted readmore">Read More <i class="mdi mdi-chevron-right"></i></a>
                                        </div>
                                    </div>
                                    <div class="author">
                                        <small class="text-light user d-block"><i class="mdi mdi-account"></i> Calvin Carlo</small>
                                        <small class="text-light date"><i class="mdi mdi-calendar-check"></i> 13th August, 2019</small>
                                    </div>
                                </div>
                            </div><!--end col-->
                            
                            <div class="col-md-6 mt-4 pt-2">
                                <div class="card blog rounded border-0 shadow">
                                    <div class="position-relative">
                                        <img src=" {% static 'images/blog/02.jpg' %} " class="card-img-top rounded-top" alt="...">
                                    <div class="overlay rounded-top bg-dark"></div>
                                    </div>
                                    <div class="card-body content">
                                        <h5><a href="  " class="card-title title text-dark">How apps is changing the IT world</a></h5>
                                        <div class="post-meta d-flex justify-content-between mt-3">
                                            <ul class="list-unstyled mb-0">
                                                <li class="list-inline-item mr-2 mb-0"><a href="  " class="text-muted like"><i class="mdi mdi-heart-outline mr-1"></i>33</a></li>
                                                <li class="list-inline-item"><a href=" " class="text-muted comments"><i class="mdi mdi-comment-outline mr-1"></i>08</a></li>
                                            </ul>
                                            <a href=" " class="text-muted readmore">Read More <i class="mdi mdi-chevron-right"></i></a>
                                        </div>
                                    </div>
                                    <div class="author">
                                        <small class="text-light user d-block"><i class="mdi mdi-account"></i> Calvin Carlo</small>
                                        <small class="text-light date"><i class="mdi mdi-calendar-check"></i> 13th August, 2019</small>
                                    </div>
                                </div>
                            </div><!--end col-->

                            <div class="col-12 mt-4 pt-2">
                                {% url 'actualite' as index %}
                                <a href=" {{index}} " class="btn btn-primary">Voir plus <i class="mdi mdi-chevron-right"></i></a>
                            </div><!--end col-->
                        </div><!--end row-->
                    </div><!--end col-->
                </div><!--end row-->
            </div><!--end container-->
        </section><!--end section-->
        <!-- Profile End -->

        <!-- Footer Start -->
                 {% include 'footer.html' %}


        <!-- Back to top -->
        <a href="#" class="btn btn-icon btn-primary back-to-top"><i data-feather="arrow-up" class="icons"></i></a>
        <!-- Back to top -->

        <!-- javascript -->
        <script src=" {% static 'js/jquery-3.5.1.min.js' %} "></script>
        <script src=" {% static 'js/bootstrap.bundle.min.js' %} "></script>
        <script src=" {% static 'js/jquery.easing.min.js' %} "></script>
        <script src=" {% static 'js/scrollspy.min.js' %} "></script>
        <!-- SLIDER -->
        <script src=" {% static 'js/owl.carousel.min.js ' %} "></script>
        <script src=" {% static 'js/owl.init.js ' %} "></script>
        <!-- Icons -->
        <script src=" {% static 'js/feather.min.js' %} "></script>
        <script src="https://unicons.iconscout.com/release/v3.0.3/script/monochrome/bundle.js"></script>
        <!-- Main Js -->
        <script src=" {% static 'js/app.js' %} "></script>
    </body>
</html>