{% load static %}
<!DOCTYPE html>
    <html lang="en">

    <head>
        <meta charset="utf-8" />
		<title>Upgoods - Article </title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="Upgoods article" />
        <meta name="keywords" content="upgoods, client-mystere, ams, smice, ams international" />
        <meta name="author" content="MohammedAminezahhaoui" />
        <meta name="email" content="zahhaoui@gmail.com" />
        <meta name="website" content="http://www.up-goods.com" />
        <meta name="Version" content="v1" />
        <!-- favicon -->
        <link rel="shortcut icon" href=" {% static 'images/1.ico' %} ">
        <!-- Bootstrap -->
        <link href=" {% static 'css/bootstrap.min.css' %} " rel="stylesheet" type="text/css" />
        <!-- Icons -->
        <link href=" {% static 'css/materialdesignicons.min.css' %} " rel="stylesheet" type="text/css" />
        <link rel="stylesheet" href="https://unicons.iconscout.com/release/v3.0.3/css/line.css">
        <!-- Magnific -->
        <link href=" {% static 'css/magnific-popup.css' %} " rel="stylesheet" type="text/css" />
        <!-- Slider -->
        <link rel="stylesheet" href=" {% static 'css/owl.carousel.min.css' %} "/>
        <link rel="stylesheet" href=" {% static 'css/owl.theme.default.min.css' %} "/>
        <!-- Main Css -->
        <link href=" {% static 'css/style.css' %} " rel="stylesheet" type="text/css" id="theme-opt" />
        <link href=" {% static 'css/colors/default.css' %} " rel="stylesheet" id="color-opt">

    </head>

    <body>
        <!-- Loader -->
        <!-- <div id="preloader">
            <div id="status">
                <div class="spinner">
                    <div class="double-bounce1"></div>
                    <div class="double-bounce2"></div>
                </div>
            </div>
        </div> -->
        <!-- Loader -->

        <!-- Navbar STart -->
<header id="topnav" class="defaultscroll sticky">
            <div class="container">
                <!-- Logo container-->
                <div>
                    <a class="logo" ">
                        <img src=" {% static 'images/logo-dark.png' %} " height="24" alt="">
                    </a>
                </div>
                <div class="buy-button">
                    <a onclick="history.back()" class="btn btn-primary">Retour</a>
                </div><!--end login button-->
                <!-- End Logo container-->
                <div class="menu-extras">
                    <div class="menu-item">
                        <!-- Mobile menu toggle-->
                        <a class="navbar-toggle">
                            <div class="lines">
                                <span></span>
                                <span></span>
                                <span></span>
                            </div>
                        </a>
                        <!-- End mobile menu toggle-->
                    </div>
                </div>

            </div><!--end container-->
        </header><!--end header-->
        <!-- Navbar End -->        <!-- Navbar End -->

        <!-- Navbar End -->

        <!-- Hero Start -->
        <section class="bg-half d-table w-100" style="background: url(' {% static 'images/1.jpg' %} ') center center;">
            <div class="bg-overlay"></div>
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-12 text-center">
                        <div class="page-next-level">
                            <h4 class="title text-white title-dark"> Enquêtes Web
                            </h4>
                            <div class="page-next">

                            </div>
                        </div>
                    </div><!--end col-->
                </div><!--end row-->
            </div> <!--end container-->
        </section><!--end section-->
        <div class="position-relative">
            <div class="shape overflow-hidden text-white">
                <svg viewBox="0 0 2880 48" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M0 48H1437.5H2880V0H2160C1442.5 52 720 0 720 0H0V48Z" fill="currentColor"></path>
                </svg>
            </div>
        </div>
        <!-- Hero End -->

        
        <section class="section">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-10">
                        <div class="row">
                            <div class="col-md-2 d-none d-md-block">
                                <ul class="list-unstyled text-center sticky-bar social-icon mb-0">
                                    <li class="mb-3 h6">Share</li>
                                    <li><a href="  " class="rounded"><i data-feather="facebook" class="fea icon-sm fea-social"></i></a></li>
                                    <li><a href="  " class="rounded"><i data-feather="instagram" class="fea icon-sm fea-social"></i></a></li>
                                    <li><a href="  " class="rounded"><i data-feather="twitter" class="fea icon-sm fea-social"></i></a></li>
                                    <li><a href="  " class="rounded"><i data-feather="linkedin" class="fea icon-sm fea-social"></i></a></li>
                                </ul><!--end icon-->
                            </div>
        
                            <div class="col-md-10">

                                <ul class="list-unstyled d-flex justify-content-between mt-4">
                                    <li class="list-inline-item user mr-2"><a href="  " class="text-muted"><i class="mdi mdi-account text-dark"></i> Upgoods Admin</a></li>
                                    <li class="list-inline-item date text-muted"><i class="mdi mdi-calendar-check text-dark"></i> 26 Feb, 2021</li>
                                </ul>
                                
                                <img src=" {% static 'images/web.jfif' %} " style="width:120%" class="img-fluid rounded-md shadow" alt="">

                                <p class="text-bold mt-5"> Comme pour les visites mystères, vous devez faire parti du panel pour pouvoir participer aux réunions de consommateurs ou Focus Groupe.Pour ce faire vous devez vous inscrire sur le panel pour recevoir toutes les réunions de consommateurs susceptibles de correspondre à votre profil client (lien permettant l’inscription) </p>
                                <h6 class="text mt-2">Le principe  ?<br> </h6>
                                <p class="text-bold mt-1">Pour ce faire vous devez vous inscrire sur le panel pour recevoir toutes les visites susceptibles de correspondre à votre profil client<br> </p>
                                <p class="text-bold mt-1" ><i data-feather="arrow-right" style="color:blue;" class="fea icon-sm mr-2"></i>Les enquêtes web auront lieu depuis votre ordinateur ou via notre application smartphone. Il vous est demandé de répondre à des questions afin d’avoir votre avis sur un produit, un fait, vos habitude de consommations. Toutes vos réponses seront anonymes. </p>
                             <h6 class="text mt-2">Comment cela se passe t-il pour participer à une enquête web?<br> </h6>

                                <p class="text-bold mt-1" ><i data-feather="arrow-right" style="color:blue;" class="fea icon-sm mr-2"></i> Une fois par semaine vous recevrez la liste des réunions de consommateurs ou Focus groupe en cours, assurez- vous que notre adresse mail soit dans vos favoris et non dans les spams au risque de laisser passer des réunions de consommateurs  intéressantes.</p>
                                <p class="text-bold mt-1" ><i data-feather="arrow-right" style="color:blue;" class="fea icon-sm mr-2"></i> Si vous êtes sélectionné(e), vous recevrez un mail vous indiquant le lieu et l’horaire de la réunion, vous recevrez également un appel téléphonique pour vous rappeler les modalités et le cas échéant le sujet de la réunion de consommateurs ou le produit à tester.</p>
                                <p class="text-bold mt-1" ><i data-feather="arrow-right" style="color:blue;" class="fea icon-sm mr-2"></i> A la fin de la visite vous devrez émarger la feuille de présence, le dédommagement pourra vous être remis de suite ou transmis par courrier recommandé sous un délai de 6 à 8 semaines pour vous permettre de cumuler avec d’autres dédommagements. Vérifier que votre adresse postale est à jour dans votre espace personnel, nous ne serons tenu responsable en cas de non notification de votre part de changement d’adresse.</p>


                        </div>
                    </div>
                </div>
            </div>
            </div></section>
        


        <!-- Footer End -->

        <!-- Back to top -->
        <a href="#" class="btn btn-icon btn-primary back-to-top"><i data-feather="arrow-up" class="icons"></i></a>
        <!-- Back to top -->

        <!-- javascript -->
        <script src=" {% static 'js/jquery-3.5.1.min.js' %} "></script>
        <script src=" {% static 'js/bootstrap.bundle.min.js' %} "></script>
        <script src=" {% static 'js/jquery.easing.min.js' %} "></script>
        <script src=" {% static 'js/scrollspy.min.js' %} "></script>
        <!-- SLIDER -->
        <script src=" {% static 'js/owl.carousel.min.js' %} "></script>
        <script src=" {% static 'js/owl.init.js' %} "></script>
        <!-- Icons -->
        <script src=" {% static 'js/feather.min.js' %} "></script>
        <script src="https://unicons.iconscout.com/release/v3.0.3/script/monochrome/bundle.js"></script>
        <!-- Main Js -->
        <script src=" {% static 'js/app.js' %} "></script>
    </body>
</html>