{% load static %}
<!DOCTYPE html>
    <html lang="en">

    <head>
        <meta charset="utf-8" />
		<title>Upgoods - Article </title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="Upgoods article" />
        <meta name="keywords" content="upgoods, client-mystere, ams, smice, ams international" />
        <meta name="author" content="MohammedAminezahhaoui" />
        <meta name="email" content="zahhaoui@gmail.com" />
        <meta name="website" content="http://www.up-goods.com" />
        <meta name="Version" content="v1" />
        <!-- favicon -->
        <link rel="shortcut icon" href=" {% static 'images/1.ico' %} ">
        <!-- Bootstrap -->
        <link href=" {% static 'css/bootstrap.min.css' %} " rel="stylesheet" type="text/css" />
        <!-- Icons -->
        <link href=" {% static 'css/materialdesignicons.min.css' %} " rel="stylesheet" type="text/css" />
        <link rel="stylesheet" href="https://unicons.iconscout.com/release/v3.0.3/css/line.css">
        <!-- Magnific -->
        <link href=" {% static 'css/magnific-popup.css' %} " rel="stylesheet" type="text/css" />
        <!-- Slider -->
        <link rel="stylesheet" href=" {% static 'css/owl.carousel.min.css' %} "/>
        <link rel="stylesheet" href=" {% static 'css/owl.theme.default.min.css' %} "/>
        <!-- Main Css -->
        <link href=" {% static 'css/style.css' %} " rel="stylesheet" type="text/css" id="theme-opt" />
        <link href=" {% static 'css/colors/default.css' %} " rel="stylesheet" id="color-opt">

    </head>

    <body>
        <!-- Loader -->
        <!-- <div id="preloader">
            <div id="status">
                <div class="spinner">
                    <div class="double-bounce1"></div>
                    <div class="double-bounce2"></div>
                </div>
            </div>
        </div> -->
        <!-- Loader -->

        <!-- Navbar STart -->
<header id="topnav" class="defaultscroll sticky">
            <div class="container">
                <!-- Logo container-->
                <div>
                    <a class="logo" ">
                        <img src=" {% static 'images/logo-dark.png' %} " height="24" alt="">
                    </a>
                </div>
                <div class="buy-button">
                    <a onclick="history.back()" class="btn btn-primary">Retour</a>
                </div><!--end login button-->
                <!-- End Logo container-->
                <div class="menu-extras">
                    <div class="menu-item">
                        <!-- Mobile menu toggle-->
                        <a class="navbar-toggle">
                            <div class="lines">
                                <span></span>
                                <span></span>
                                <span></span>
                            </div>
                        </a>
                        <!-- End mobile menu toggle-->
                    </div>
                </div>

            </div><!--end container-->
        </header><!--end header-->
        <!-- Navbar End -->        <!-- Navbar End -->

        <!-- Navbar End -->

        <!-- Hero Start -->
        <section class="bg-half d-table w-100" style="background: url(' {% static 'images/1.jpg' %} ') center center;">
            <div class="bg-overlay"></div>
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-12 text-center">
                        <div class="page-next-level">
                            <h4 class="title text-white title-dark"> Comment réaliser une visite ?</h4>
                            <div class="page-next">

                            </div>
                        </div>
                    </div><!--end col-->
                </div><!--end row-->
            </div> <!--end container-->
        </section><!--end section-->
        <div class="position-relative">
            <div class="shape overflow-hidden text-white">
                <svg viewBox="0 0 2880 48" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M0 48H1437.5H2880V0H2160C1442.5 52 720 0 720 0H0V48Z" fill="currentColor"></path>
                </svg>
            </div>
        </div>
        <!-- Hero End -->

        
        <section class="section">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-10">
                        <div class="row">
                            <div class="col-md-2 d-none d-md-block">
                                <ul class="list-unstyled text-center sticky-bar social-icon mb-0">
                                    <li class="mb-3 h6">Share</li>
                                    <li><a href="  " class="rounded"><i data-feather="facebook" class="fea icon-sm fea-social"></i></a></li>
                                    <li><a href="  " class="rounded"><i data-feather="instagram" class="fea icon-sm fea-social"></i></a></li>
                                    <li><a href="  " class="rounded"><i data-feather="twitter" class="fea icon-sm fea-social"></i></a></li>
                                    <li><a href="  " class="rounded"><i data-feather="linkedin" class="fea icon-sm fea-social"></i></a></li>
                                </ul><!--end icon-->
                            </div>
        
                            <div class="col-md-10">

                                <ul class="list-unstyled d-flex justify-content-between mt-4">
                                    <li class="list-inline-item user mr-2"><a href="  " class="text-muted"><i class="mdi mdi-account text-dark"></i> Upgoods Admin</a></li>
                                    <li class="list-inline-item date text-muted"><i class="mdi mdi-calendar-check text-dark"></i> 26 Feb, 2021</li>
                                </ul>
                                
                                <img src=" {% static 'images/bigstock.jpg' %} " style="width:100%" class="img-fluid rounded-md shadow" alt="">

                                <p class="text-bold mt-5">Lors de ces visites que vous effectuerez comme si vous faisiez une visite ordinaire pour vous, que vous aviez programmé dans une des enseignes que vous avez l’habitude de fréquenter ou que vous êtes susceptible de fréquenter.<br>Vous aurez pour mission d’observer, de tester puis de noter la qualité d’un service rendu afin de contribuer directement à son amélioration. </p>
                                <h6 class="text mt-2">Comment cela se passe t-il pour réaliser une visite  ?<br> </h6>
                                <p class="text-bold mt-1">Pour ce faire vous devez vous inscrire sur le panel pour recevoir toutes les visites susceptibles de correspondre à votre profil client<br> </p>
                                <h6 class=" row justify-content-center" style="color:blue;">INSCRIVEZ VOUS<br> </h6>
                                <p class="text-bold mt-1" ><i data-feather="arrow-right" style="color:blue;" class="fea icon-sm mr-2"></i>Une fois inscrit (e), vous pourrez voir sur votre espace panéliste, la liste des visites mystères en cours dans votre secteur géographique. <br>Si vous êtes amenés à voyager vous pourrez voir les visites sur d’autres secteurs géographiques. Si l’une d’entre elle correspond à votre profil, vous pourrez  vous positionner en prenant soin d’indiquer sur le calendrier la date à laquelle vous souhaitez la réaliser.<br>Une fois par semaine vous recevrez les visites en cours, assurez- vous que notre adresse mail soit dans vos favoris et non dans les spams au risque de laisser passer des visites intéressantes. </p>
                                <p class="text-bold mt-1" ><i data-feather="arrow-right" style="color:blue;" class="fea icon-sm mr-2"></i>Si vous êtes sélectionné(e), vous recevrez un mail vous l’indiquant avec le brief, le scénario de visite s’il y en a un, ainsi que le questionnaire que vous devrez lire très attentivement car vous ne serez pas en possession de ces éléments lors de la visite.Une fois que vous vous êtes imprégnés des éléments envoyés, un bref questionnaire pourra vous être soumis pour valider la compréhension de la visite et vous aider ainsi à vous souvenir des éléments importants.<br>Le plus naturellement possible et en toute discrétion, vous devrez vous rendre dans le lieu dont nous vous aurons indiqué le nom et les coordonnées pour réaliser votre visite.<br> Nous vous rappelons qu’à ce stade de la visite vous ne serez pas en possession du brief, du scénario et du questionnaire.</p>
                                <p class="text-bold mt-1" ><i data-feather="arrow-right" style="color:blue;" class="fea icon-sm mr-2"></i>Après la visite, comme tout bon enquêteur, il faudra venir au rapport! Votre avis et vos sentiments sont essentiels pour nous et pour les enseignes qui veulent sans cesse s’améliorer. <br>Nous comptons donc sur vous pour répondre honnêtement aux questions posées qui porteront sur l’accueil, la propreté, la disposition des produits, le conseil…A l’issue de votre visite, vous devrez remplir sous 24h le questionnaire, télécharger les éléments de visites demandés (ticket de caisse, photos, carte de visite, devis etc…)</p>
                                <p class="text-bold mt-1" ><i data-feather="arrow-right" style="color:blue;" class="fea icon-sm mr-2"></i> L’équipe de chargés de relation et de communication avec le panel est à votre disposition pour répondre à vos questions et vous aider.<br>Si vous deviez changer votre jour et heure de visite n’hésitez pas à les prévenir, ils sont à votre disposition par mail à client-mystere@amsinternational.fr ou au téléphone : 0033 (0)  4 72 81 99 57.<br>Le dédommagement vous sera transmis par courrier recommandé sous un délai de 6 à 8 semaines pour vous permettre de cumuler avec d’autres dédommagements.</p>


                        </div>
                    </div>
                </div>
            </div>
            </div></section>
        

                    {% include 'footer.html' %}

        <!-- Footer End -->

        <!-- Back to top -->
        <a href="#" class="btn btn-icon btn-primary back-to-top"><i data-feather="arrow-up" class="icons"></i></a>
        <!-- Back to top -->

        <!-- javascript -->
        <script src=" {% static 'js/jquery-3.5.1.min.js' %} "></script>
        <script src=" {% static 'js/bootstrap.bundle.min.js' %} "></script>
        <script src=" {% static 'js/jquery.easing.min.js' %} "></script>
        <script src=" {% static 'js/scrollspy.min.js' %} "></script>
        <!-- SLIDER -->
        <script src=" {% static 'js/owl.carousel.min.js ' %} "></script>
        <script src=" {% static 'js/owl.init.js ' %} "></script>
        <!-- Icons -->
        <script src=" {% static 'js/feather.min.js' %} "></script>
        <script src="https://unicons.iconscout.com/release/v3.0.3/script/monochrome/bundle.js"></script>
        <!-- Main Js -->
        <script src=" {% static 'js/app.js' %} "></script>
    </body>
</html>