{% extends 'administrateur/base_template.html' %}
{% block page_title %}
Espace de gestion
{% endblock page_title %}
{% block main_content %}

<section class="content">
        <div class="row">
            <div class="col-12" id="accordion">
                <div class="card card-primary card-outline">
                    <a class="d-block w-100" data-toggle="collapse" href="#collapseOne ">
                        <div class="card-header">
                            <h4 class="card-title w-100">
                                Gestion des missions
                            </h4>
                        </div>
                    </a>
                    <div id="collapseOne" class="collapse show" data-parent="#accordion">
                        <div class="card-body">
                            Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.
                        </div>
                    </div>
                </div>
                <div class="card card-primary card-outline">
                    <a class="d-block w-100" data-toggle="collapse" href=" #collapseTwo ">
                        <div class="card-header">
                            <h4 class="card-title w-100">
                                Gestion des quizz et questionnaires
                            </h4>
                        </div>
                    </a>
                    <div id="collapseTwo" class="collapse" data-parent="#accordion">
                        <div class="card-body">
                            Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
                        </div>
                    </div>
                </div>
                <div class="card card-primary card-outline">
                    <a class="d-block w-100" data-toggle="collapse" href="  #collapseThree ">
                        <div class="card-header">
                            <h4 class="card-title w-100">
                                Gestion des candidatures
                            </h4>
                        </div>
                    </a>
                    <div id="collapseThree" class="collapse" data-parent="#accordion">
                        <div class="card-body">
                            Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.
                        </div>
                    </div>
                </div>
                <div class="card card-warning card-outline">
                    <a class="d-block w-100" data-toggle="collapse" href=" #collapseFour ">
                        <div class="card-header">
                            <h4 class="card-title w-100">
                            Gestion des visites
                            </h4>
                        </div>
                    </a>
                    <div id="collapseFour" class="collapse" data-parent="#accordion">
                        <div class="card-body">
                            Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu.
                        </div>
                    </div>
                </div>
                <div class="card card-warning card-outline">
                    <a class="d-block w-100" data-toggle="collapse" href=" #collapseFive ">
                        <div class="card-header">
                            <h4 class="card-title w-100">
                            Gestion des enqueteurs
                            </h4>
                        </div>
                    </a>
                    <div id="collapseFive" class="collapse" data-parent="#accordion">
                        <div class="card-body">
                            Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu.
                        </div>
                    </div>
                </div>
                 <div class="card card-warning card-outline">
                    <a class="d-block w-100" data-toggle="collapse" href=" #collapsesix ">
                        <div class="card-header">
                            <h4 class="card-title w-100">
                            Gestion des actualités et annonces
                            </h4>
                        </div>
                    </a>
                    <div id="collapsesix" class="collapse" data-parent="#accordion">
                        <div class="card-body">
                            Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu.
                        </div>
                    </div>
                </div>
        <div class="row">
            <div class="col-12 mt-3 text-center">
                <p class="lead">
                    <a href=" contact-us.html ">Contact us</a>,
                    if you found not the right anwser or you have a other question?<br />
                </p>
            </div>
        </div>
    </section>

{% endblock main_content %}