 {% extends 'Administrateur/base_template.html' %}
 {%load static %}
{% block page_title %}
Dashbord
{% endblock page_title %}
{% block main_content %}

    <script type="text/javascript" src="https://js.api.here.com/v3/3.1/mapsjs-core.js"></script>
    <script type="text/javascript" src="https://js.api.here.com/v3/3.1/mapsjs-service.js"></script>
    <script type="text/javascript" src="https://js.api.here.com/v3/3.1/mapsjs-ui.js"></script>
    <script type="text/javascript" src="https://js.api.here.com/v3/3.1/mapsjs-mapevents.js"></script>
  <script>window.ENV_VARIABLE = 'developer.here.com'</script>
   <script src='https://cdnjs.cloudflare.com/ajax/libs/Iframe-Height-Jquery-Plugin/1.2.5/iframeheight.min.js'></script>

  <!-- Main Sidebar Container -->


  <!-- Content Wrapper. Contains page content -->
    <!-- Content Header (Page header) -->

    <!-- /.content-header -->

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <!-- Small boxes (Stat box) -->
        <div class="row">
          <div class="col-lg-3 col-6">
            <!-- small box -->
            <div class="small-box bg-info">
              <div class="inner">
                <h3>{{mission_count}}</h3>

                <p>Mission en ligne</p>
              </div>
              <div class="icon">
                <i class="ion ion-bag"></i>
              </div>
              <a href="#" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
            </div>
          </div>
          <!-- ./col -->
          <div class="col-lg-3 col-6">
            <!-- small box -->
            <div class="small-box bg-success">
              <div class="inner">
                <h3>2<sup style="font-size: 20px"></sup></h3>

                <p>Visites effectuées</p>
              </div>
              <div class="icon">
                <i class="ion ion-stats-bars"></i>
              </div>
              <a href="#" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
            </div>
          </div>
          <!-- ./col -->
          <div class="col-lg-3 col-6">
            <!-- small box -->
            <div class="small-box bg-warning">
              <div class="inner">
                <h3>{{consultant_count1}}</h3>

                <p>Enqueteurs</p>
              </div>
              <div class="icon">
                <i class="ion ion-person-add"></i>
              </div>
              <a href="#" class="small-box-footer">Plus d'information <i class="fas fa-arrow-circle-right"></i></a>
            </div>
          </div>
          <!-- ./col -->
          <div class="col-lg-3 col-6">
            <!-- small box -->
            <div class="small-box bg-danger">
              <div class="inner">
                <h3>{{ num_visits }}
                </h3>

                <p>Visiteurs </p>
              </div>
              <div class="icon">
                <i class="ion ion-pie-graph"></i>
              </div>
              <a href="#" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i> </a>
            </div>
          </div>
          <!-- ./col -->
        </div>
        <!-- /.row -->

        <!-- Main row -->
        <!-- /.row (main row) -->
      </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->

  <!-- /.content-wrapper -->

<section class="content">
        <div class="row">
            <div class="col-12" id="accordion">
                <div class="card card-primary card-outline">
                    <a class="d-block w-100" data-toggle="collapse" href="#collapseOne ">
                        <div class="card-header">
                            <h4 class="card-title w-100">
                                Gestion des missions
                            </h4>
                        </div>
                    </a>
                    <div id="collapseOne" class="collapse show" data-parent="#accordion">
                        <div class="card-body">
Pour ajouter une mission cliquez ici
                        Pour modifier ou supprimmer</div>
                    </div>
                </div>
                <div class="card card-primary card-outline">
                    <a class="d-block w-100" data-toggle="collapse" href=" #collapseTwo ">
                        <div class="card-header">
                            <h4 class="card-title w-100">
                                Gestion des quizz et questionnaires
                            </h4>
                        </div>
                    </a>
                    <div id="collapseTwo" class="collapse" data-parent="#accordion">
                        <div class="card-body">
                            Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
                        </div>
                    </div>
                </div>
                <div class="card card-primary card-outline">
                    <a class="d-block w-100" data-toggle="collapse" href="  #collapseThree ">
                        <div class="card-header">
                            <h4 class="card-title w-100">
                                Gestion des candidatures
                            </h4>
                        </div>
                    </a>
                    <div id="collapseThree" class="collapse" data-parent="#accordion">
                        <div class="card-body">
                            Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.
                        </div>
                    </div>
                </div>
                <div class="card card-warning card-outline">
                    <a class="d-block w-100" data-toggle="collapse" href=" #collapseFour ">
                        <div class="card-header">
                            <h4 class="card-title w-100">
                            Gestion des visites
                            </h4>
                        </div>
                    </a>
                    <div id="collapseFour" class="collapse" data-parent="#accordion">
                        <div class="card-body">
                            Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu.
                        </div>
                    </div>
                </div>
                <div class="card card-warning card-outline">
                    <a class="d-block w-100" data-toggle="collapse" href=" #collapseFive ">
                        <div class="card-header">
                            <h4 class="card-title w-100">
                            Gestion des enqueteurs
                            </h4>
                        </div>
                    </a>
                    <div id="collapseFive" class="collapse" data-parent="#accordion">
                        <div class="card-body">
                            Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu.
                        </div>
                    </div>
                </div>
                 <div class="card card-warning card-outline">
                    <a class="d-block w-100" data-toggle="collapse" href=" #collapsesix ">
                        <div class="card-header">
                            <h4 class="card-title w-100">
                            Gestion des actualités et annonces
                            </h4>
                        </div>
                    </a>
                    <div id="collapsesix" class="collapse" data-parent="#accordion">
                        <div class="card-body">
                            Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu.
                        </div>
                    </div>
                </div>
        
            </div></div></section>

  <!-- Control Sidebar -->
  <aside class="control-sidebar control-sidebar-dark">
    <!-- Control sidebar content goes here -->
  </aside>
  <!-- /.control-sidebar -->
<!-- ./wrapper -->
{% endblock main_content %}

<!-- jQuery -->
<script src=" {% static 'plugins/jquery/jquery.min.js' } "></script>
<!-- jQuery UI 1.11.4 -->
<script src=" {% static 'plugins/jquery-ui/jquery-ui.min.js' } "></script>
<!-- Resolve conflict in jQuery UI tooltip with Bootstrap tooltip -->
<script>
  $.widget.bridge('uibutton', $.ui.button)
</script>
<!-- Bootstrap 4 -->
<script src=" {% static 'plugins/bootstrap/js/bootstrap.bundle.min.js' } "></script>
<!-- ChartJS -->
<script src=" {% static 'plugins/chart.js/Chart.min.js' } "></script>
<!-- Sparkline -->
<script src=" {% static 'plugins/sparklines/sparkline.js' } "></script>
<!-- JQVMap -->
<script src=" {% static 'plugins/jqvmap/jquery.vmap.min.js' } "></script>
<script src=" {% static 'plugins/jqvmap/maps/jquery.vmap.usa.js' } "></script>
<!-- jQuery Knob Chart -->
<script src=" {% static 'plugins/jquery-knob/jquery.knob.min.js' } "></script>
<!-- daterangepicker -->
<script src=" {% static 'plugins/moment/moment.min.js' } "></script>
<script src=" {% static 'plugins/daterangepicker/daterangepicker.js' } "></script>
<!-- Tempusdominus Bootstrap 4 -->
<script src=" {% static 'plugins/tempusdominus-bootstrap-4/js/tempusdominus-bootstrap-4.min.js' } "></script>
<!-- Summernote -->
<script src=" {% static 'plugins/summernote/summernote-bs4.min.js' } "></script>
<!-- overlayScrollbars -->
<script src=" {% static 'plugins/overlayScrollbars/js/jquery.overlayScrollbars.min.js' } "></script>
<!-- AdminLTE App -->
<script src=" {% static 'dist/js/adminlte.js' } "></script>
<!-- AdminLTE dashboard demo (This is only for demo purposes) -->
<script src=" {% static '/dist/js/pages/dashboard.js' } "></script>
<!-- AdminLTE for demo purposes -->
<script src=" {% static 'dist/js/demo.js' } "></script>
