{%load static%}
<footer class="footer">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4 col-12 mb-0 mb-md-4 pb-0 pb-md-2" data-aos="fade-up" data-aos-duration="1000" >
                        <a href="#" class="logo-footer">
                            <img src=" {% static 'images/logo-light.png' %} " height="24" alt="">
                        </a>
                        <p class="mt-4" id="1">Pour joindre par mail un chargé de relation et de communication avec le panel: <br> <span class="text-white font-weight-bold" id="email">client-mystere@up-goods.com</span><br>
                        Pour toute autre question: <br><span class="text-white font-weight-bold" id="2">contact@up-goods.com</span></p>
                        <ul class="list-unstyled social-icon social mb-0 mt-4">
                            <li class="list-inline-item"><a href="  " class="rounded"><i data-feather="facebook" class="fea icon-sm fea-social"></i></a></li>
                            <li class="list-inline-item"><a href="  " class="rounded"><i data-feather="instagram" class="fea icon-sm fea-social"></i></a></li>
                            <li class="list-inline-item"><a href="  " class="rounded"><i data-feather="twitter" class="fea icon-sm fea-social"></i></a></li>
                            <li class="list-inline-item"><a href="  " class="rounded"><i data-feather="linkedin" class="fea icon-sm fea-social"></i></a></li>
                        </ul><!--end icon-->
                    </div><!--end col-->

                    <div class="col-lg-2 col-md-4 col-12 mt-4 mt-sm-0 pt-2 pt-sm-0" data-aos="fade-up" data-aos-duration="1000">
                        <h5 class="text-light footer-head">Upgoods</h5>
                        <ul class="list-unstyled footer-list mt-4">
                                                                									{% url 'index' as login %}
                         <li><a href=" {{login}} " class="text-foot" id="3"><i class="mdi mdi-chevron-right mr-1"></i> Accueil</a></li>
                                                                   									{% url 'service' as login %}
                         <li><a href=" {{login}} " class="text-foot " id="4"><i class="mdi mdi-chevron-right mr-1"></i> Nos Services</a></li>
                                                               									{% url 'guide' as login %}
                         <li><a href=" {{login}} " class="text-foot" id="5"><i class="mdi mdi-chevron-right mr-1"></i> FAQ | SOS</a></li>
                                                                  									{% url 'actualite' as login %}
                            <li><a href="{{login}} " class="text-foot" id="6"><i class="mdi mdi-chevron-right mr-1"></i> Actualités</a></li>
                                                               									{% url 'contact' as login %}
                    <li><a href=" {{login}} " class="text-foot" id="7"><i class="mdi mdi-chevron-right mr-1"></i> Contact</a></li>
                                        									{% url 'signup' as login %}
                     <li><a href=" {{login}} " class="text-foot " id="8"><i class="mdi mdi-chevron-right mr-1"></i> Inscription</a></li>
                                       									{% url 'login' as login %}
                    <li><a href=" {{login}} " class="text-foot" id="9"><i class="mdi mdi-chevron-right mr-1"></i> Se connecter </a></li>
                        </ul>
                    </div><!--end col-->

                    <div class="col-lg-3 col-md-4 col-12 mt-4 mt-sm-0 pt-2 pt-sm-0" data-aos="fade-up" data-aos-duration="1000">
                        <h5 class="text-light footer-head">Liens utiles</h5>
                        <ul class="list-unstyled footer-list mt-4">
                                <li><a href=" {% url 'terms' %} " class="text-foot"><i class="mdi mdi-chevron-right mr-1"></i> Terms of Services</a></li>
                                <li><a href="  " class="text-foot"><i class="mdi mdi-chevron-right mr-1"></i> Documentation</a></li></ul>
                    </div><!--end col-->

                    <div class="col-lg-3 col-md-4 col-12 mt-4 mt-sm-0 pt-2 pt-sm-0" data-aos="fade-up" data-aos-duration="1000">
                                                <h5 class="text-light footer-head">Nos Pays D’intervention</h5>
                                                <img src=" {% static 'images/illustrator/map.png' %} " width="300" height="170" class="mr-md-4" alt="france maroc usa europe singapoure moyen orient amerique ">

                    </div><!--end col-->
                </div><!--end row-->
            </div><!--end container-->
        </footer><!--end footer-->
        <footer class="footer footer-bar">
            <div class="container text-center">
                <div class="row align-items-center">
                    <div class="col-sm-6">
                        <div class="text-sm-left">
                            <p class="mb-0">© <script>document.write(new Date().getFullYear())</script> UPGOODS  .</p>
                        </div>
                    </div><!--end col-->


                </div><!--end row-->
            </div><!--end container-->
        </footer><!--end footer-->

                  <script src=" {% static 'js/aos.js' %} "></script>
   <script>
            AOS.init({
                easing: 'ease-in-out-sine',
                duration: 1000
            });
        </script>
          <script type="text/javascript">
        window.onload = function getlang(){
        var x = localStorage.getItem("lang")
        console.log(x)
        if(x == 'en'){
            document.getElementById("1").innerHTML = "To reach by email a relationship and communication manager with the panel:"

          }
        if(x == 'es') {
            document.getElementById("pg").innerHTML = "HOME PAGE"
            document.getElementById("par1").innerHTML = "Contáctenos"
            document.getElementById("ms").innerHTML = "Mandanos un mensaje"
            document.getElementById("nom").innerHTML = "Tu nombre	"
            document.getElementById("email1").innerHTML ="Tu correo electrónico"
            document.getElementById("sujet").innerHTML = "sujeto"
            document.getElementById("submit").innerHTML ="Submit"
           }

        }
    </script>
