{%load static%}
<footer class="footer">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4 col-12 mb-0 mb-md-4 pb-0 pb-md-2">
                        <a href="#" class="logo-footer">
                            <img src=" {% static 'images/logo-light.png' %} " height="24" alt="">
                        </a>
                        <p class="mt-4">Pour joindre par mail un chargé de relation et de communication avec le panel: <br> <span class="text-primary font-weight-bold">client-mystere@up-goods.com</span><br>
                        Pour toute autre question: <br><span class="text-primary font-weight-bold" >contact@up-goods.com</span></p>
                        <ul class="list-unstyled social-icon social mb-0 mt-4">
                            <li class="list-inline-item"><a href="  " class="rounded"><i data-feather="facebook" class="fea icon-sm fea-social"></i></a></li>
                            <li class="list-inline-item"><a href="  " class="rounded"><i data-feather="instagram" class="fea icon-sm fea-social"></i></a></li>
                            <li class="list-inline-item"><a href="  " class="rounded"><i data-feather="twitter" class="fea icon-sm fea-social"></i></a></li>
                            <li class="list-inline-item"><a href="  " class="rounded"><i data-feather="linkedin" class="fea icon-sm fea-social"></i></a></li>
                        </ul><!--end icon-->
                    </div><!--end col-->

                    <div class="col-lg-2 col-md-4 col-12 mt-4 mt-sm-0 pt-2 pt-sm-0">
                        <h5 class="text-light footer-head">Upgoods</h5>
                        <ul class="list-unstyled footer-list mt-4">
                                                                									{% url 'index' as login %}
                         <li><a href=" {{login}} " class="text-foot"><i class="mdi mdi-chevron-right mr-1"></i> Accueil</a></li>
                                                                   									{% url 'service' as login %}
                         <li><a href=" {{login}} " class="text-foot"><i class="mdi mdi-chevron-right mr-1"></i> Nos Services</a></li>
                                                               									{% url 'guide' as login %}
                         <li><a href=" {{login}} " class="text-foot"><i class="mdi mdi-chevron-right mr-1"></i> FAQ | SOS</a></li>
                                                                  									{% url 'actualite' as login %}
                            <li><a href="{{login}} " class="text-foot"><i class="mdi mdi-chevron-right mr-1"></i> Actualités</a></li>
                                                               									{% url 'contact' as login %}
                    <li><a href=" {{login}} " class="text-foot"><i class="mdi mdi-chevron-right mr-1"></i> Contact</a></li>
                                        									{% url 'signup' as login %}
                     <li><a href=" {{login}} " class="text-foot"><i class="mdi mdi-chevron-right mr-1"></i> Inscription</a></li>
                                       									{% url 'login' as login %}
                    <li><a href=" {{login}} " class="text-foot"><i class="mdi mdi-chevron-right mr-1"></i> Se connecter </a></li>
                        </ul>
                    </div><!--end col-->

                    <div class="col-lg-3 col-md-4 col-12 mt-4 mt-sm-0 pt-2 pt-sm-0">
                        <h5 class="text-light footer-head">Usefull Links</h5>
                        <ul class="list-unstyled footer-list mt-4">
                                <li><a href=" {% static 'page-terms.html' %} " class="text-foot"><i class="mdi mdi-chevron-right mr-1"></i> Terms of Services</a></li>
                                <li><a href=" {% static 'page-privacy.html' %} " class="text-foot"><i class="mdi mdi-chevron-right mr-1"></i> Privacy Policy</a></li>
                                <li><a href=" {% static 'documentation.html' %} " class="text-foot"><i class="mdi mdi-chevron-right mr-1"></i> Documentation</a></li></ul>
                    </div><!--end col-->

                    <div class="col-lg-3 col-md-4 col-12 mt-4 mt-sm-0 pt-2 pt-sm-0">
                        <h5 class="text-light footer-head">Newsletter</h5>
                        <p class="mt-4">Sign up and receive the latest tips via email.</p>
                        <form>
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="foot-subscribe form-group">
                                        <label>Write your email <span class="text-danger">*</span></label>
                                        <div class="position-relative">
                                            <i data-feather="mail" class="fea icon-sm icons"></i>
                                            <input type="email" name="email" id="emailsubscribe" class="form-control pl-5 rounded" placeholder="Your email : " required>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-12">
                                    <input type="submit" id="submitsubscribe" name="send" class="btn btn-soft-primary btn-block" value="Subscribe">
                                </div>
                            </div>
                        </form>
                    </div><!--end col-->
                </div><!--end row-->
            </div><!--end container-->
        </footer><!--end footer-->
        <footer class="footer footer-bar">
            <div class="container text-center">
                <div class="row align-items-center">
                    <div class="col-sm-6">
                        <div class="text-sm-left">
                            <p class="mb-0">© <script>document.write(new Date().getFullYear())</script> UPGOODS  .</p>
                        </div>
                    </div><!--end col-->

                    <div class="col-sm-6 mt-4 mt-sm-0 pt-2 pt-sm-0">
                        <ul class="list-unstyled text-sm-right mb-0">
                            <li class="list-inline-item"><a href="  "><img src=" {% static 'images/payments/american-ex.png' %} " class="avatar avatar-ex-sm" title="American Express" alt=""></a></li>
                            <li class="list-inline-item"><a href="  "><img src=" {% static 'images/payments/discover.png' %} " class="avatar avatar-ex-sm" title="Discover" alt=""></a></li>
                            <li class="list-inline-item"><a href="  "><img src=" {% static 'images/payments/master-card.png' %} " class="avatar avatar-ex-sm" title="Master Card" alt=""></a></li>
                            <li class="list-inline-item"><a href="  "><img src=" {% static 'images/payments/paypal.png' %} " class="avatar avatar-ex-sm" title="Paypal" alt=""></a></li>
                            <li class="list-inline-item"><a href="  "><img src=" {% static 'images/payments/visa.png' %} " class="avatar avatar-ex-sm" title="Visa" alt=""></a></li>
                        </ul>
                    </div><!--end col-->
                </div><!--end row-->
            </div><!--end container-->
        </footer><!--end footer-->s